/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid/flex items > page layout > components

Here, we use em instead of rem because rem fail here in their usage. 1em = 16px (usually)
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.2rem;
  color: #fff; }

.heading-primary {
  font-weight: 700;
  font-size: 7rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--header {
      text-align: center; } }
  .heading-primary--about-me {
    color: #b953ff;
    margin-bottom: 3rem; }
  .heading-primary--my-projects {
    color: #4452fb; }

.heading-secondary {
  font-size: 4rem; }
  .heading-secondary--cool-about-me {
    color: #faeaa9; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary--contact-me {
      text-align: center; } }

.heading-tertiary {
  font-size: 3.5rem; }
  .heading-tertiary--contact-me {
    color: #16e0bd; }

.paragraph--header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  max-width: 50rem;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .paragraph--header {
      margin-top: 5rem; } }

.paragraph--my-projects {
  text-align: justify; }

.paragraph--contact-me {
  text-align: justify; }
  @media only screen and (max-width: 37.5em) {
    .paragraph--contact-me {
      text-align: center; } }

.u-text-center {
  text-align: center; }

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.u-flex-space-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-large {
  margin-top: 8rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  color: #000;
  border-radius: 1rem; }

.btn--hg {
  background-color: #4452fb;
  box-shadow: 0 0.5rem #fff; }
  .btn--hg:hover {
    box-shadow: 0 0.3rem #fff;
    transform: translateY(0.2rem); }
  .btn--hg:active {
    box-shadow: 0 0 #fff;
    transform: translateY(0.3rem); }

.btn--landg {
  background-color: #4452fb;
  padding: 1rem !important;
  display: inline-block;
  margin-right: 1rem;
  box-shadow: 0 0.5rem #fff; }
  .btn--landg:hover {
    box-shadow: 0 0.3rem #fff;
    transform: translateY(0.2rem); }
  .btn--landg:active {
    box-shadow: 0 0 #fff;
    transform: translateY(0.3rem); }

.cool-about-me__text-container {
  position: relative;
  padding-left: 3rem;
  text-align: left;
  font-size: 2rem; }
  .cool-about-me__text-container:not(:last-child) {
    padding-bottom: 1rem;
    border-left: 3px solid #faeaa9; }
    @media only screen and (max-width: 37.5em) {
      .cool-about-me__text-container:not(:last-child) {
        padding-bottom: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .cool-about-me__text-container {
      padding-left: 1rem;
      margin-left: 3rem; } }

.cool-about-me__circle {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #b953ff;
  position: absolute;
  box-shadow: 0 0.5rem #fff; }
  .cool-about-me__circle--1 {
    left: -2.15rem; }
  .cool-about-me__circle--2 {
    left: -1.85rem; }

.cool-about-me__text {
  padding: 0.2rem 0.5rem;
  list-style: none;
  margin-bottom: 1rem; }

.cool-about-me__text-box {
  margin: 2rem 0 0 3rem; }
  @media only screen and (max-width: 37.5em) {
    .cool-about-me__text-box {
      margin: 2rem 0 0 2rem; } }

.cool-about-me__clr-advanced {
  color: #16e0bd; }

.cool-about-me__clr-intermediate {
  color: #4452fb; }

.cool-about-me__clr-beginner {
  color: #b953ff; }

body {
  perspective: 500px;
  perspective-origin: 50% calc(50% - 150px); }

.scene {
  position: relative;
  transform-style: preserve-3d; }

.banner {
  display: flex;
  transform-style: preserve-3d;
  animation: rotate 24s infinite linear; }

@keyframes rotate {
  to {
    transform: rotateY(-360deg); } }

.panel {
  position: absolute;
  transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(190px);
  width: 50px;
  height: 120px;
  overflow: hidden; }

.panel::before {
  position: absolute;
  left: var(--left);
  content: "Hey there! I am Ayush!";
  font-size: 9.6rem;
  width: max-content;
  color: hsl(var(--hue), 75%, 75%); }

.panel:nth-child(1) {
  --left: 0px;
  --hue: 0;
  --angle: 0deg; }

.panel:nth-child(2) {
  --left: -50px;
  --hue: 15;
  --angle: 15deg; }

.panel:nth-child(3) {
  --left: -100px;
  --hue: 30;
  --angle: 30deg; }

.panel:nth-child(4) {
  --left: -150px;
  --hue: 45;
  --angle: 45deg; }

.panel:nth-child(5) {
  --left: -200px;
  --hue: 60;
  --angle: 60deg; }

.panel:nth-child(6) {
  --left: -250px;
  --hue: 75;
  --angle: 75deg; }

.panel:nth-child(7) {
  --left: -300px;
  --hue: 90;
  --angle: 90deg; }

.panel:nth-child(8) {
  --left: -350px;
  --hue: 105;
  --angle: 105deg; }

.panel:nth-child(9) {
  --left: -400px;
  --hue: 120;
  --angle: 120deg; }

.panel:nth-child(10) {
  --left: -450px;
  --hue: 135;
  --angle: 135deg; }

.panel:nth-child(11) {
  --left: -500px;
  --hue: 150;
  --angle: 150deg; }

.panel:nth-child(12) {
  --left: -550px;
  --hue: 165;
  --angle: 165deg; }

.panel:nth-child(13) {
  --left: -600px;
  --hue: 180;
  --angle: 180deg; }

.panel:nth-child(14) {
  --left: -650px;
  --hue: 195;
  --angle: 195deg; }

.panel:nth-child(15) {
  --left: -700px;
  --hue: 210;
  --angle: 210deg; }

.panel:nth-child(16) {
  --left: -750px;
  --hue: 225;
  --angle: 225deg; }

.panel:nth-child(17) {
  --left: -800px;
  --hue: 240;
  --angle: 240deg; }

.panel:nth-child(18) {
  --left: -850px;
  --hue: 255;
  --angle: 255deg; }

.panel:nth-child(19) {
  --left: -900px;
  --hue: 270;
  --angle: 270deg; }

.panel:nth-child(20) {
  --left: -950px;
  --hue: 285;
  --angle: 285deg; }

.panel:nth-child(21) {
  --left: -1000px;
  --hue: 300;
  --angle: 300deg; }

.panel:nth-child(22) {
  --left: -1050px;
  --hue: 315;
  --angle: 315deg; }

.panel:nth-child(23) {
  --left: -1100px;
  --hue: 330;
  --angle: 330deg; }

.panel:nth-child(24) {
  --left: -1150px;
  --hue: 345;
  --angle: 345deg; }

.screen {
  position: absolute;
  width: 400px;
  height: 0;
  background-image: linear-gradient(90deg, #000a, #0004, #000a);
  transform: translate(-50%, -50%); }

.header {
  position: relative;
  padding: 3rem;
  height: 100vh; }
  .header__nav {
    display: flex;
    justify-content: center; }
  .header__link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 0.5rem 1rem;
    font-size: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .header__link {
        font-size: 1.8rem; } }
    .header__link:link, .header__link:visited {
      margin: 0 1rem;
      border-radius: 1rem;
      color: #000;
      box-shadow: 0 0.5rem #fff; }
    .header__link:hover {
      box-shadow: 0 0.3rem #fff;
      transform: translateY(0.2rem); }
    .header__link:active {
      box-shadow: 0 0 #fff;
      transform: translateY(0.3rem); }
    .header__link--about {
      background-color: #b953ff; }
    .header__link--projects {
      background-color: #4452fb; }
    .header__link--contact {
      background-color: #16e0bd; }
  @media only screen and (max-width: 56.25em) {
    .header {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      width: 100%; } }
  .header__main-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header .special-bg {
    background-image: linear-gradient(90deg, #16e0bd, #b953ff);
    padding: 0 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 37.5em) {
      .header .special-bg {
        padding: 0; } }
  .header__image-container {
    display: flex;
    justify-content: center; }
  .header__hero-image {
    position: absolute;
    bottom: 3rem;
    max-width: 90%;
    height: auto; }

/* About Me */
.about-me {
  text-align: center; }
  .about-me__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .about-me__container {
        flex-direction: column; } }
  .about-me__image-container {
    width: 40%; }
    @media only screen and (max-width: 56.25em) {
      .about-me__image-container {
        width: 60%;
        margin-bottom: 4rem; } }
  .about-me__image {
    max-width: 100%;
    height: auto; }

/* My Projects */
.my-projects {
  text-align: center; }
  .my-projects__container {
    display: flex;
    flex-direction: column; }
  .my-projects__project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem; }
    .my-projects__project:nth-child(odd) {
      padding-bottom: 2rem; }
    .my-projects__project:not(:last-child) {
      margin-bottom: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .my-projects__project {
        flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .my-projects__project {
        margin: 1rem;
        border: 2px solid #4452fb;
        border-radius: 2rem; } }
  .my-projects__text-container {
    width: 40%;
    text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .my-projects__text-container {
        width: 80%; } }
  .my-projects__image-container {
    width: 30%;
    margin: 4rem 0; }
    @media only screen and (max-width: 56.25em) {
      .my-projects__image-container {
        width: 60%;
        order: -1; } }
  .my-projects__image {
    max-width: 100%;
    height: auto; }

/* Contact Me */
.contact-me {
  height: 100vh;
  display: flex;
  justify-content: center;
  /*
    /* &__form-container {
        max-width: 55rem;

        @include respond(tab-port) {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
    } */
  /* input {
        margin: 1rem;
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        border-style: none;
        background-color: $clr-dark-input;
        color: $clr-white;

        @include respond(tab-port) {
            display: block;
        }
    } */
  /* textarea {
        margin: 1rem 1rem;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        background-color: $clr-dark-input;
        color: $clr-white;
        border-style: none;
        resize: vertical;

        @include respond(tab-port) {
            width: 70%;
            display: inline-block;
        }
    } */
  /* &__fname {
        width: 40%;

        @include respond(tab-port) {
            width: 50%;
        }
    } */
  /* &__lname {
        width: 40%;

        @include respond(tab-port) {
            width: 50%;
        }
    } */
  /* &__email {
        width: 60%;

        @include respond(tab-port) {
            width: 50%;
        }
    } */
  /* &__message {
        display: block;
    } */
  /* &__submit {
        cursor: pointer;
        background-color: $clr-1 !important;
        color: $clr-black !important;
        border-radius: 0.5rem;
        font-family: $ff-primary;
    } 
*/ }
  @media only screen and (max-width: 37.5em) {
    .contact-me {
      display: flex;
      align-items: center;
      margin-bottom: 0 !important; } }
  .contact-me__container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .contact-me__container {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center; } }
  .contact-me__text-container {
    max-width: 45rem;
    padding: 0 2rem; }
  .contact-me__approachable {
    color: #16e0bd; }
  .contact-me__link-container {
    display: flex;
    justify-content: space-around; }
  .contact-me__icon {
    color: #fff;
    padding: 1rem; }
