
// COLORS
$clr-white: #fff;
$clr-black: #000;

$clr-dark: #303030;
$clr-dark-input: #121212;

$clr-1: #16e0bd;
$clr-2: #b953ff;
$clr-2-1: #faeaa9;
$clr-3: #4452fb;

// FONT
$ff-primary: "Source Sans Pro", sans-serif;

$fw-reg: 400;
$fw-bold: 700;

$fs-body: 2.2rem;
