.header {
    position: relative;
    padding: 3rem;
    height: 100vh;

    // Navigation
    &__nav {
        display: flex;
        justify-content: center;
    }

    &__link {
        text-decoration: none;
        color: white;
        font-weight: $fw-reg;
        padding: 0.5rem 1rem;
        font-size: 3rem;

        @include respond(phone) {
            font-size: 1.8rem;
        }

        &:link,
        &:visited {
            margin: 0 1rem;
            border-radius: 1rem;
            color: #000;
            box-shadow: 0 0.5rem #fff;
        }

        &:hover {
            box-shadow: 0 0.3rem #fff;
            transform: translateY(0.2rem);
        }

        &:active {
            box-shadow: 0 0 #fff;
            transform: translateY(0.3rem);
        }

        &--about {
            background-color: $clr-2;
        }

        &--projects {
            background-color: $clr-3;
        }

        &--contact {
            background-color: $clr-1;
        }
    }

    @include respond(tab-port) {
        width: 100%;
    }

    @include respond(phone) {
        width: 100%;
    }

    // Rest of Header
    &__main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .special-bg {
        background-image: linear-gradient(90deg, $clr-1, $clr-2);
        padding: 0 1rem;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @include respond(phone) {
            padding: 0;
        }
    }

    &__image-container {
        display: flex;
        justify-content: center;
    }

    &__hero-image {
        position: absolute;
        bottom: 3rem;
        max-width: 90%;
        height: auto;
    }
}
