// Typography basically means all the properties related to general and specific h1, h2, h3... and p.

.heading-primary {
    // h1
    font-weight: $fw-bold;
    font-size: 7rem;

    @include respond(phone) {
        font-size: 5rem;
    }

    &--header {
        @include respond(phone) {
            text-align: center;
        }
    }

    &--about-me {
        color: $clr-2;
        margin-bottom: 3rem;
    }

    &--my-projects {
        color: $clr-3;
    }
}

.heading-secondary {
    // h2
    font-size: 4rem;

    &--cool-about-me {
        color: $clr-2-1;
    }

    &--contact-me {
        @include respond(phone) {
            text-align: center;
        }
    }
}

.heading-tertiary {
    // h3
    font-size: 3.5rem;

    &--contact-me {
        color: $clr-1;
    }
}

.paragraph {
    &--header {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        max-width: 50rem;
        text-align: center;

        @include respond(phone) {
            margin-top: 5rem;
          }
    }

    &--my-projects {
        text-align: justify;
    }

    &--contact-me {
        text-align: justify;

        @include respond(phone) {
            text-align: center;
        }
    }
}
