// Anything starting with 'u' is a utility class.

.u-text-center {
    text-align: center;
}

.u-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-flex-space-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-large {
    margin-bottom: 8rem;
}

.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}

.u-margin-top-large {
    margin-top: 8rem;
}